body{
    background-image: url("https://st.depositphotos.com/1897095/1642/i/450/depositphotos_16428473-stock-photo-fog-and-pastel-gradient.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}